In [1]:
import numpy as np
import pandas as pd

In [2]:
b3 = np.array(["Kavya","Partheepan","B Hari Krishnan","A Bharani Dharan","Keerthika Ravichandran","Arun Kumar R","Ponni Subramaniyan","Siranjeevi B","Syed Ibrahim K","Lavanya Murugan","Madhan S","Pradeep","Prashanth M","Praveen G","Divya M"])

In [3]:
b3

array(['Kavya', 'Partheepan', 'B Hari Krishnan', 'A Bharani Dharan',
       'Keerthika Ravichandran', 'Arun Kumar R', 'Ponni Subramaniyan',
       'Siranjeevi B', 'Syed Ibrahim K', 'Lavanya Murugan', 'Madhan S',
       'Pradeep', 'Prashanth M', 'Praveen G', 'Divya M'], dtype='<U22')

In [4]:
print(b3[3:9])

['A Bharani Dharan' 'Keerthika Ravichandran' 'Arun Kumar R'
 'Ponni Subramaniyan' 'Siranjeevi B' 'Syed Ibrahim K']

In [5]:
print(b3.dtype)

<U22

In [6]:
b3_copy = b3.copy()
b3_copy[0] = "Vignesh S"
print(b3_copy)
print(b3)

['Vignesh S' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
 'Keerthika Ravichandran' 'Arun Kumar R' 'Ponni Subramaniyan'
 'Siranjeevi B' 'Syed Ibrahim K' 'Lavanya Murugan' 'Madhan S' 'Pradeep'
 'Prashanth M' 'Praveen G' 'Divya M']
['Kavya' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
 'Keerthika Ravichandran' 'Arun Kumar R' 'Ponni Subramaniyan'
 'Siranjeevi B' 'Syed Ibrahim K' 'Lavanya Murugan' 'Madhan S' 'Pradeep'
 'Prashanth M' 'Praveen G' 'Divya M']

In [7]:
b3_copy.view()

array(['Vignesh S', 'Partheepan', 'B Hari Krishnan', 'A Bharani Dharan',
       'Keerthika Ravichandran', 'Arun Kumar R', 'Ponni Subramaniyan',
       'Siranjeevi B', 'Syed Ibrahim K', 'Lavanya Murugan', 'Madhan S',
       'Pradeep', 'Prashanth M', 'Praveen G', 'Divya M'], dtype='<U22')

In [8]:
b3_new = b3.reshape(3,5)
print(b3_new)

[['Kavya' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
  'Keerthika Ravichandran']
 ['Arun Kumar R' 'Ponni Subramaniyan' 'Siranjeevi B' 'Syed Ibrahim K'
  'Lavanya Murugan']
 ['Madhan S' 'Pradeep' 'Prashanth M' 'Praveen G' 'Divya M']]

In [9]:
print(b3_new.shape)
print(b3.shape)

(3, 5)
(15,)

In [10]:
for x in b3:
    print(x)

Kavya
Partheepan
B Hari Krishnan
A Bharani Dharan
Keerthika Ravichandran
Arun Kumar R
Ponni Subramaniyan
Siranjeevi B
Syed Ibrahim K
Lavanya Murugan
Madhan S
Pradeep
Prashanth M
Praveen G
Divya M

In [11]:
for x in b3_new:
    for y in x:
        for z in y:
            print(z)

K
a
v
y
a
P
a
r
t
h
e
e
p
a
n
B

H
a
r
i

K
r
i
s
h
n
a
n
A

B
h
a
r
a
n
i

D
h
a
r
a
n
K
e
e
r
t
h
i
k
a

R
a
v
i
c
h
a
n
d
r
a
n
A
r
u
n

K
u
m
a
r

R
P
o
n
n
i

S
u
b
r
a
m
a
n
i
y
a
n
S
i
r
a
n
j
e
e
v
i

B
S
y
e
d

I
b
r
a
h
i
m

K
L
a
v
a
n
y
a

M
u
r
u
g
a
n
M
a
d
h
a
n

S
P
r
a
d
e
e
p
P
r
a
s
h
a
n
t
h

M
P
r
a
v
e
e
n

G
D
i
v
y
a

M

In [12]:
b3_split = np.array_split(b3,3)
print(b3_split[0])
print(b3_split[1])
print(b3_split[2])

['Kavya' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
 'Keerthika Ravichandran']
['Arun Kumar R' 'Ponni Subramaniyan' 'Siranjeevi B' 'Syed Ibrahim K'
 'Lavanya Murugan']
['Madhan S' 'Pradeep' 'Prashanth M' 'Praveen G' 'Divya M']

In [13]:
b3_s1 = b3_split[0]
b3_s2 = b3_split[1]
b3_s3 = b3_split[2]
b3_join = np.concatenate((b3_s1,b3_s2,b3_s3))
print(b3_join)

['Kavya' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
 'Keerthika Ravichandran' 'Arun Kumar R' 'Ponni Subramaniyan'
 'Siranjeevi B' 'Syed Ibrahim K' 'Lavanya Murugan' 'Madhan S' 'Pradeep'
 'Prashanth M' 'Praveen G' 'Divya M']

In [14]:
b3_join1 = np.vstack((b3_s1,b3_s2,b3_s3))
print(b3_join1)

[['Kavya' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
  'Keerthika Ravichandran']
 ['Arun Kumar R' 'Ponni Subramaniyan' 'Siranjeevi B' 'Syed Ibrahim K'
  'Lavanya Murugan']
 ['Madhan S' 'Pradeep' 'Prashanth M' 'Praveen G' 'Divya M']]

In [15]:
b3_join2 = np.hstack((b3_s1,b3_s2,b3_s3))
print(b3_join2)

['Kavya' 'Partheepan' 'B Hari Krishnan' 'A Bharani Dharan'
 'Keerthika Ravichandran' 'Arun Kumar R' 'Ponni Subramaniyan'
 'Siranjeevi B' 'Syed Ibrahim K' 'Lavanya Murugan' 'Madhan S' 'Pradeep'
 'Prashanth M' 'Praveen G' 'Divya M']

In [16]:
x = np.where(b3 == 'Syed Ibrahim K')
print(x)

(array([8], dtype=int64),)

In [17]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

x = np.where(arr%2 == 0)

print(x)

(array([ 1,  3,  5,  7,  9, 11, 13], dtype=int64),)

In [18]:
for i in b3:
    print(i)
print("  ")
b3_sort = np.sort(b3)
for x in b3_sort:
    print(x)

Kavya
Partheepan
B Hari Krishnan
A Bharani Dharan
Keerthika Ravichandran
Arun Kumar R
Ponni Subramaniyan
Siranjeevi B
Syed Ibrahim K
Lavanya Murugan
Madhan S
Pradeep
Prashanth M
Praveen G
Divya M

A Bharani Dharan
Arun Kumar R
B Hari Krishnan
Divya M
Kavya
Keerthika Ravichandran
Lavanya Murugan
Madhan S
Partheepan
Ponni Subramaniyan
Pradeep
Prashanth M
Praveen G
Siranjeevi B
Syed Ibrahim K

In [19]:
x = np.array([1, 2, 3, 4])

print(x[2] + x[3])

7

In [21]:
print(x.dtype)
y = np.array([1, 2, 3, 4], dtype='S')

print(y)
print(y.dtype)

int32
[b'1' b'2' b'3' b'4']
|S1

In [22]:
z = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('4th element on 2nd row: ', z[1, 3])

4th element on 2nd row:  9

In [24]:
x1 = np.array([1, 2, 3])
x2 = np.array([1, 2, 3])

newx = np.add(x1, x2)

print(newx)

[2 4 6]

In [26]:
x1 = np.array([1, 2, 3])
x2 = np.array([1, 2, 3])

newx = np.sum([x1, x2])

print(newx)

12

In [27]:
x1 = np.array([1, 2, 3])
x2 = np.array([1, 2, 3])

newx = np.sum([x1, x2], axis = 1)

print(newx)

[6 6]

In [28]:
df = pd.read_csv("b3.csv")

In [29]:
df

,S.no.,Full Name,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
0,1,Kavya,Woman,Engineering,2020,St Joseph's College of engineering,Chennai,Tamilnadu,HR/Admin,Youtube
1,2,Partheepan,Man,Engineering,2020,Chendhuran college of engineering and technology,Pudukkottai,Tamilnadu,Backend Development,Internet
2,3,B Hari Krishnan,Man,Arts & Science,2023,Mscas,Chennai,Tamilnadu,Video Editing,Youtube
3,4,A BHARANI DHARAN,Man,Engineering,2018,ADHIPARASAKTHI ENGINEERING COLLEGE,Kanchipuram,Tamilnadu,Data Analytics,Youtube
4,5,Keerthika Ravichandran,Woman,Engineering,2023,Meenakshi Sundararajan Engineering College,Chennai,Tamilnadu,Frontend Development,Youtube
5,6,Arunkumar.R,Man,Engineering,2017,SNS COLLEGE OF TECHNOLOGY,Coimbatore,Tamilnadu,Others,Youtube
6,7,Ponni Subramaniyan,Woman,Arts & Science,2023,Sastra Deemed to be University,Thanjavur,Tamil Nadu,Backend Development,Youtube
7,8,siranjeevi B,Man,Arts & Science,2022,vels University,Chennai,Tamilnadu,Data Analytics,Youtube
8,9,Syed Ibrahim K,Man,HS/HSS,2023,SCAD COLLEGE OF ENGINEERING,Tirunelveli,Tamil Nadu,Data Analytics,Youtube
9,10,Lavanya Murugan,Woman,Arts & Science,2023,Vysya college,Salem,Tamilnadu,Frontend Development,Youtube
10,11,MADHAN S,Man,Engineering,2023,Sona college of technology,Salem,Tamilnadu,Backend Development,Youtube
11,12,PRADEEP,Man,Engineering,2021,Vickram College of engineering,Madurai,Tamilnadu,Data Analytics,Youtube
12,13,Prashanth M,Man,Engineering,2018,ATME college of engineering,Mysore,Karnataka,Data Analytics,Youtube
13,14,Praveen G,Man,Engineering,2022,Dhirajlal Gandhi College of Technology,Salem,Tamil Nadu,Devops(Cloud),Youtube
14,15,Divya M,Woman,Arts & Science,2023,PSG COLLEGE OF ARTS AND SCIENCE,Rayakottai,Tamil Nadu,Data Analytics,Youtube

In [30]:
df = df.drop("S.no.", axis=1)

In [31]:
df = df.apply(lambda x: x.astype(str).str.lower())

In [32]:
df

,Full Name,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
0,kavya,woman,engineering,2020,st joseph's college of engineering,chennai,tamilnadu,hr/admin,youtube
1,partheepan,man,engineering,2020,chendhuran college of engineering and technology,pudukkottai,tamilnadu,backend development,internet
2,b hari krishnan,man,arts & science,2023,mscas,chennai,tamilnadu,video editing,youtube
3,a bharani dharan,man,engineering,2018,adhiparasakthi engineering college,kanchipuram,tamilnadu,data analytics,youtube
4,keerthika ravichandran,woman,engineering,2023,meenakshi sundararajan engineering college,chennai,tamilnadu,frontend development,youtube
5,arunkumar.r,man,engineering,2017,sns college of technology,coimbatore,tamilnadu,others,youtube
6,ponni subramaniyan,woman,arts & science,2023,sastra deemed to be university,thanjavur,tamil nadu,backend development,youtube
7,siranjeevi b,man,arts & science,2022,vels university,chennai,tamilnadu,data analytics,youtube
8,syed ibrahim k,man,hs/hss,2023,scad college of engineering,tirunelveli,tamil nadu,data analytics,youtube
9,lavanya murugan,woman,arts & science,2023,vysya college,salem,tamilnadu,frontend development,youtube
10,madhan s,man,engineering,2023,sona college of technology,salem,tamilnadu,backend development,youtube
11,pradeep,man,engineering,2021,vickram college of engineering,madurai,tamilnadu,data analytics,youtube
12,prashanth m,man,engineering,2018,atme college of engineering,mysore,karnataka,data analytics,youtube
13,praveen g,man,engineering,2022,dhirajlal gandhi college of technology,salem,tamil nadu,devops(cloud),youtube
14,divya m,woman,arts & science,2023,psg college of arts and science,rayakottai,tamil nadu,data analytics,youtube

In [33]:
df = df.apply(lambda x: x.astype(str).str.capitalize())

In [34]:
df

,Full Name,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
0,Kavya,Woman,Engineering,2020,St joseph's college of engineering,Chennai,Tamilnadu,Hr/admin,Youtube
1,Partheepan,Man,Engineering,2020,Chendhuran college of engineering and technology,Pudukkottai,Tamilnadu,Backend development,Internet
2,B hari krishnan,Man,Arts & science,2023,Mscas,Chennai,Tamilnadu,Video editing,Youtube
3,A bharani dharan,Man,Engineering,2018,Adhiparasakthi engineering college,Kanchipuram,Tamilnadu,Data analytics,Youtube
4,Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamilnadu,Frontend development,Youtube
5,Arunkumar.r,Man,Engineering,2017,Sns college of technology,Coimbatore,Tamilnadu,Others,Youtube
6,Ponni subramaniyan,Woman,Arts & science,2023,Sastra deemed to be university,Thanjavur,Tamil nadu,Backend development,Youtube
7,Siranjeevi b,Man,Arts & science,2022,Vels university,Chennai,Tamilnadu,Data analytics,Youtube
8,Syed ibrahim k,Man,Hs/hss,2023,Scad college of engineering,Tirunelveli,Tamil nadu,Data analytics,Youtube
9,Lavanya murugan,Woman,Arts & science,2023,Vysya college,Salem,Tamilnadu,Frontend development,Youtube
10,Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamilnadu,Backend development,Youtube
11,Pradeep,Man,Engineering,2021,Vickram college of engineering,Madurai,Tamilnadu,Data analytics,Youtube
12,Prashanth m,Man,Engineering,2018,Atme college of engineering,Mysore,Karnataka,Data analytics,Youtube
13,Praveen g,Man,Engineering,2022,Dhirajlal gandhi college of technology,Salem,Tamil nadu,Devops(cloud),Youtube
14,Divya m,Woman,Arts & science,2023,Psg college of arts and science,Rayakottai,Tamil nadu,Data analytics,Youtube

In [35]:
df = df.set_index("Full Name")

In [36]:
df

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
Full Name,,,,,,,,
Kavya,Woman,Engineering,2020,St joseph's college of engineering,Chennai,Tamilnadu,Hr/admin,Youtube
Partheepan,Man,Engineering,2020,Chendhuran college of engineering and technology,Pudukkottai,Tamilnadu,Backend development,Internet
B hari krishnan,Man,Arts & science,2023,Mscas,Chennai,Tamilnadu,Video editing,Youtube
A bharani dharan,Man,Engineering,2018,Adhiparasakthi engineering college,Kanchipuram,Tamilnadu,Data analytics,Youtube
Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamilnadu,Frontend development,Youtube
Arunkumar.r,Man,Engineering,2017,Sns college of technology,Coimbatore,Tamilnadu,Others,Youtube
Ponni subramaniyan,Woman,Arts & science,2023,Sastra deemed to be university,Thanjavur,Tamil nadu,Backend development,Youtube
Siranjeevi b,Man,Arts & science,2022,Vels university,Chennai,Tamilnadu,Data analytics,Youtube
Syed ibrahim k,Man,Hs/hss,2023,Scad college of engineering,Tirunelveli,Tamil nadu,Data analytics,Youtube
Lavanya murugan,Woman,Arts & science,2023,Vysya college,Salem,Tamilnadu,Frontend development,Youtube
Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamilnadu,Backend development,Youtube
Pradeep,Man,Engineering,2021,Vickram college of engineering,Madurai,Tamilnadu,Data analytics,Youtube
Prashanth m,Man,Engineering,2018,Atme college of engineering,Mysore,Karnataka,Data analytics,Youtube
Praveen g,Man,Engineering,2022,Dhirajlal gandhi college of technology,Salem,Tamil nadu,Devops(cloud),Youtube
Divya m,Woman,Arts & science,2023,Psg college of arts and science,Rayakottai,Tamil nadu,Data analytics,Youtube

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Kavya  to Divya m
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             15 non-null     object
 1   Qualification                      15 non-null     object
 2   Pass-Out Year                      15 non-null     object
 3   College Name                       15 non-null     object
 4   City                               15 non-null     object
 5   State                              15 non-null     object
 6   Domain                             15 non-null     object
 7   How you know about this program ?  15 non-null     object
dtypes: object(8)
memory usage: 1.1+ KB

In [38]:
df.describe()

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
count,15,15,15,15,15,15,15,15
unique,2,3,6,15,11,5,7,2
top,Man,Engineering,2023,St joseph's college of engineering,Chennai,Tamilnadu,Data analytics,Youtube
freq,10,9,7,1,4,8,6,14

In [39]:
df.size

120

In [40]:
df.shape

(15, 8)

In [42]:
pradeep = df.loc["Pradeep"]
pradeep

Gender                                                          Man
Qualification                                           Engineering
Pass-Out Year                                                  2021
College Name                         Vickram college of engineering
City                                                        Madurai
State                                                     Tamilnadu
Domain                                               Data analytics
How you know about this program ?                           Youtube
Name: Pradeep, dtype: object

In [44]:
batchmates = df[df["Pass-Out Year"] == '2023']
batchmates

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
Full Name,,,,,,,,
B hari krishnan,Man,Arts & science,2023,Mscas,Chennai,Tamilnadu,Video editing,Youtube
Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamilnadu,Frontend development,Youtube
Ponni subramaniyan,Woman,Arts & science,2023,Sastra deemed to be university,Thanjavur,Tamil nadu,Backend development,Youtube
Syed ibrahim k,Man,Hs/hss,2023,Scad college of engineering,Tirunelveli,Tamil nadu,Data analytics,Youtube
Lavanya murugan,Woman,Arts & science,2023,Vysya college,Salem,Tamilnadu,Frontend development,Youtube
Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamilnadu,Backend development,Youtube
Divya m,Woman,Arts & science,2023,Psg college of arts and science,Rayakottai,Tamil nadu,Data analytics,Youtube

In [45]:
gender = df.groupby('Gender')['Pass-Out Year'].count()
print(gender)

Gender
Man      10
Woman     5
Name: Pass-Out Year, dtype: int64

In [49]:
city = df.groupby('City')['Gender'].count()
print(city)

City
Chennai         4
Coimbatore      1
Kanchipuram     1
Madurai         1
Mysore          1
Pudukkottai     1
Rayakottai      1
Salem           2
Salem           1
Thanjavur       1
Tirunelveli     1
Name: Gender, dtype: int64

In [46]:
pass_out_year = df.groupby('Pass-Out Year')['Gender'].count()
print(pass_out_year)

Pass-Out Year
2017    1
2018    2
2020    2
2021    1
2022    2
2023    7
Name: Gender, dtype: int64

In [47]:
Name_n_city = df[['City']]
Name_n_city

                                 City
Full Name
Kavya                        Chennai
Partheepan               Pudukkottai
B hari krishnan              Chennai
A bharani dharan         Kanchipuram
Keerthika ravichandran       Chennai
Arunkumar.r               Coimbatore
Ponni subramaniyan         Thanjavur
Siranjeevi b                 Chennai
Syed ibrahim k            Tirunelveli
Lavanya murugan                Salem
Madhan  s                       Salem
Pradeep                       Madurai
Prashanth m                    Mysore
Praveen g                       Salem
Divya m                   Rayakottai

In [50]:
newDataFrame = df.sort_values(by = "Full Name", ascending = True)
newDataFrame

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
Full Name,,,,,,,,
A bharani dharan,Man,Engineering,2018,Adhiparasakthi engineering college,Kanchipuram,Tamilnadu,Data analytics,Youtube
Arunkumar.r,Man,Engineering,2017,Sns college of technology,Coimbatore,Tamilnadu,Others,Youtube
B hari krishnan,Man,Arts & science,2023,Mscas,Chennai,Tamilnadu,Video editing,Youtube
Divya m,Woman,Arts & science,2023,Psg college of arts and science,Rayakottai,Tamil nadu,Data analytics,Youtube
Kavya,Woman,Engineering,2020,St joseph's college of engineering,Chennai,Tamilnadu,Hr/admin,Youtube
Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamilnadu,Frontend development,Youtube
Lavanya murugan,Woman,Arts & science,2023,Vysya college,Salem,Tamilnadu,Frontend development,Youtube
Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamilnadu,Backend development,Youtube
Partheepan,Man,Engineering,2020,Chendhuran college of engineering and technology,Pudukkottai,Tamilnadu,Backend development,Internet
Ponni subramaniyan,Woman,Arts & science,2023,Sastra deemed to be university,Thanjavur,Tamil nadu,Backend development,Youtube
Pradeep,Man,Engineering,2021,Vickram college of engineering,Madurai,Tamilnadu,Data analytics,Youtube
Prashanth m,Man,Engineering,2018,Atme college of engineering,Mysore,Karnataka,Data analytics,Youtube
Praveen g,Man,Engineering,2022,Dhirajlal gandhi college of technology,Salem,Tamil nadu,Devops(cloud),Youtube
Siranjeevi b,Man,Arts & science,2022,Vels university,Chennai,Tamilnadu,Data analytics,Youtube
Syed ibrahim k,Man,Hs/hss,2023,Scad college of engineering,Tirunelveli,Tamil nadu,Data analytics,Youtube

In [59]:
update_df = df.drop('Prashanth m')
update_df

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
Full Name,,,,,,,,
Kavya,Woman,Engineering,2020,St joseph's college of engineering,Chennai,Tamilnadu,Hr/admin,Youtube
Partheepan,Man,Engineering,2020,Chendhuran college of engineering and technology,Pudukkottai,Tamilnadu,Backend development,Internet
B hari krishnan,Man,Arts & science,2023,Mscas,Chennai,Tamilnadu,Video editing,Youtube
A bharani dharan,Man,Engineering,2018,Adhiparasakthi engineering college,Kanchipuram,Tamilnadu,Data analytics,Youtube
Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamilnadu,Frontend development,Youtube
Arunkumar.r,Man,Engineering,2017,Sns college of technology,Coimbatore,Tamilnadu,Others,Youtube
Ponni subramaniyan,Woman,Arts & science,2023,Sastra deemed to be university,Thanjavur,Tamil nadu,Backend development,Youtube
Siranjeevi b,Man,Arts & science,2022,Vels university,Chennai,Tamilnadu,Data analytics,Youtube
Syed ibrahim k,Man,Hs/hss,2023,Scad college of engineering,Tirunelveli,Tamil nadu,Data analytics,Youtube
Lavanya murugan,Woman,Arts & science,2023,Vysya college,Salem,Tamilnadu,Frontend development,Youtube
Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamil nadu,Backend development,Youtube
Pradeep,Man,Engineering,2021,Vickram college of engineering,Madurai,Tamil nadu,Data analytics,Youtube
Praveen g,Man,Engineering,2022,Dhirajlal gandhi college of technology,Salem,Tamil nadu,Devops(cloud),Youtube
Divya m,Woman,Arts & science,2023,Psg college of arts and science,Rayakottai,Tamil nadu,Data analytics,Youtube

In [62]:
update_df["State"] = "Tamil Nadu"
update_df

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
Full Name,,,,,,,,
Kavya,Woman,Engineering,2020,St joseph's college of engineering,Chennai,Tamil Nadu,Hr/admin,Youtube
Partheepan,Man,Engineering,2020,Chendhuran college of engineering and technology,Pudukkottai,Tamil Nadu,Backend development,Internet
B hari krishnan,Man,Arts & science,2023,Mscas,Chennai,Tamil Nadu,Video editing,Youtube
A bharani dharan,Man,Engineering,2018,Adhiparasakthi engineering college,Kanchipuram,Tamil Nadu,Data analytics,Youtube
Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamil Nadu,Frontend development,Youtube
Arunkumar.r,Man,Engineering,2017,Sns college of technology,Coimbatore,Tamil Nadu,Others,Youtube
Ponni subramaniyan,Woman,Arts & science,2023,Sastra deemed to be university,Thanjavur,Tamil Nadu,Backend development,Youtube
Siranjeevi b,Man,Arts & science,2022,Vels university,Chennai,Tamil Nadu,Data analytics,Youtube
Syed ibrahim k,Man,Hs/hss,2023,Scad college of engineering,Tirunelveli,Tamil Nadu,Data analytics,Youtube
Lavanya murugan,Woman,Arts & science,2023,Vysya college,Salem,Tamil Nadu,Frontend development,Youtube
Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamil Nadu,Backend development,Youtube
Pradeep,Man,Engineering,2021,Vickram college of engineering,Madurai,Tamil Nadu,Data analytics,Youtube
Praveen g,Man,Engineering,2022,Dhirajlal gandhi college of technology,Salem,Tamil Nadu,Devops(cloud),Youtube
Divya m,Woman,Arts & science,2023,Psg college of arts and science,Rayakottai,Tamil Nadu,Data analytics,Youtube

In [63]:
current_passed_out_engineers = df[(df["Pass-Out Year"] == '2023') & (df["Qualification"] == "Engineering")]
current_passed_out_engineers

,Gender,Qualification,Pass-Out Year,College Name,City,State,Domain,How you know about this program ?
Full Name,,,,,,,,
Keerthika ravichandran,Woman,Engineering,2023,Meenakshi sundararajan engineering college,Chennai,Tamilnadu,Frontend development,Youtube
Madhan s,Man,Engineering,2023,Sona college of technology,Salem,Tamil nadu,Backend development,Youtube

In [64]:
# to find factorial of given number
def factorial(n):
    res = 1
    for i in range(2, n+1):
        res *= i
    return res
num = 6
print("Factorial of", num, "is",
factorial(num))

Factorial of 6 is 720

In [65]:
# Python program to find maximum in arr[] of size n
arr = [75,537,34,322,36,69]
print ("Largest in given array ", max(arr))

Largest in given array  537

In [66]:
# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of the two number',sum)

Enter first number: 867
Enter second number: 3847
The sum of the two number 4714.0

In [67]:
# Python program to swap two variables
# take inputs from the user
x = input('Enter value of x: ')
y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping',x)
print('The value of y after swapping',y)

Enter value of x: dhw
Enter value of y: kjd
The value of x after swapping kjd
The value of y after swapping dhw

In [68]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num,"is Even")
else:
   print(num,"is Odd")

Enter a number: 656
656 is Even

In [69]:
# Python program to check if year is a leap year or not
# get year (integer input) from the user
year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

Enter a year: 5435
5435 is not a leap year

In [70]:
# Python program to display all the prime numbers within an interval

lower = int(input("Interval starts from: "))
upper = int(input("Interval ends in: "))

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Interval starts from: 532
Interval ends in: 565
Prime numbers between 532 and 565 are:
541
547
557
563

In [71]:
# Program to check if a number is prime or not
# take input from the user
num = int(input("Enter a number: "))

# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

    # check if flag is True
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 534536
534536 is not a prime number

In [72]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
            break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 4
Enter first number: 131
Enter second number: 5654
131.0 / 5654.0 = 0.023169437566324724
Let's do next calculation? (yes/no): no

In [73]:
# Program to display calendar of the given month and year

# importing calendar module
import calendar

# take month and year input from the user
yy = int(input("Enter year: "))
mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

Enter year: 4246
Enter month: 12
   December 4246
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [74]:

# function which return reverse of a string
 
def isPalindrome(s):
    return s == s[::-1]
 

s = str(input('Enter the word(only in lowercase) : '))
ans = isPalindrome(s)
 
if ans:
    print(s,"is a palindrome")
else:
    print(s,"is not a palindrome")

Enter the word(only in lowercase) : malayalam
malayalam is a palindrome

In [75]:
# Check if an element exists in a list in Python
lst=[ 1, 6, 3, 5, 3, 4 ]
#checking if element 7 is present
# in the given list or not
i=7
# if element present then return
# exist otherwise not exist
if i in lst:
    print("exist")
else:
    print("not exist")

not exist

In [76]:
# Python Program to check if a Number is Positive, Negative or Zero
# Default function to run if else condition  
def NumberCheck(a):   
    # Checking if the number is positive  
    if a > 0:   
        print("Number given by you is Positive")   
    # Checking if the number is negative   
    elif a < 0:   
        print("Number given by you is Negative")   
    # Else the number is zero  
    else:   
        print("Number given by you is zero")  
# Taking number from user  
a = float(input("Enter a number as input value: "))  
# Printing result  
NumberCheck(a)

Enter a number as input value: -23655
Number given by you is Negative

In [77]:
num = int(input("Enter a number: "))  
  
if num < 0:  
   print("Enter a positive number")  
else:  
   sum = 0  
# use while loop to iterate un till zero  
   while(num > 0):  
       sum += num  
       num -= 1  
   print("The sum is",sum)

Enter a number: 6676786
The sum is 22289738983291